<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GameLog - Sobre</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link href="css/geral.css" rel="stylesheet">
    <link href="css/sobreSty.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body>

    <header>
        <a class="header-logo" href="/">
            <img src="img/logo.png" class="logo">
            <span class="header-title">GameLog</span>
        </a>
    </header>

    <main>
        <div class="main-conteudo">
            <h1 class="secao-titulo">Sobre GameLog</h1>
            <hr style="width: 100%;">
            <p>GameLog é um site que permite você armazenar a sua coleção de jogos, desde jogos que já terminou, irá
                jogar, ou está jogando, para manter uma lista do que planeja jogar, e ao finalizar podendo fazer um
                review proprio sobre o jogo, e podendo vizualizar a qualquer momento. <br> Servindo de uma capsula do
                tempo, e um meio para manter a lista de jogos que deseja jogar.</p>

            <div class="sub-conteudo" id="tecnologias">
                <h1 class="secao-titulo">Tecnologias</h1>
                <hr style="width: 100%;">
                <div class="logos">
                    <a href="https://nodejs.org/en"><img src="img/nodeLogo.png" class="logo-tecnologias"></a>
                    <a href="https://expressjs.com/pt-br/"><img src="img/expressLogo.png" class="logo-tecnologias"></a>
                    <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript"><img src="img/jsLogo.png"
                            class="logo-tecnologias"></a>
                    <a href="https://www.npmjs.com/package/mustache-express"><img src="img/mustacheLogo.png"
                            class="logo-tecnologias"></a>
                    <a href="https://nodemailer.com/about/"><img src="img/mailerLogo.png" class="logo-tecnologias"></a>
                    <a href="https://www.npmjs.com/package/dotenv"><img src="img/dotenvLogo.png"
                            class="logo-tecnologias"></a>
                    <a href="https://joi.dev/"><img src="img/joiLogo.png" class="logo-tecnologias"></a>
                    <a href="https://code.visualstudio.com/"><img src="img/vscLogo.png" class="logo-tecnologias"></a>
                    <a href="https://sequelize.org/"><img src="img/sequelizeLogo.png" class="logo-tecnologias"></a>
                    <a href="https://www.mysql.com/"><img src="img/mysqlLogo.png" class="logo-tecnologias"></a>
                    <a href="https://github.com/auth0/node-jsonwebtoken"><img src="img/jwtLogo.png" class="logo-tecnologias"></a>
                    <a href="https://www.chartjs.org/"><img src="img/chartsjsLogo.png" class="logo-tecnologias"></a>

                </div>
            </div>

            <div class="sub-conteudo" id="desenvolvedor">
                <h1 class="secao-titulo">Desenvolvedores</h1>
                <hr style="width: 100%;">

                <div class="dev">
                    <img src="img/Eduardo.png" class="img-dev">
                    <div class="dev-info">
                        <h2 style="color: white;">Nome: Eduardo Pereira Baratera</h2>
                        <p>Desenvolvedor principal deste site, realizando o curso de engenharia de software, pode não
                            ser o melhor mas sempre buscando aprender e melhorar</p>
                    </div>
                </div>

                <div class="dev">
                    <img src="img/Nicolas.png" class="img-dev">
                    <div class="dev-info">
                        <h2 style="color: white;">Nome: Nicolas Moraes de Almeida</h2>
                        <p>Auxiliou com algumas ideias de design da pagina, e é irmão do desenvolvedor principal</p>
                    </div>
                </div>

            </div>

            <div class="sub-conteudo" id="contato">
                <h1 class="secao-titulo">Contato</h1>
                <hr style="width: 100%;">
                <div class="secao-contato">
                    <div class="aviso aviso-contato" id="aviso">
                        <p class="aviso-text">Dados estão invalidos!</p>
                    </div>
                    <label>Nome</label>
                    <input id="nome"></input>
                    <label>Assunto</label>
                    <input id="assunto"></input>
                    <label>Email</label>
                    <input type="email" id="email"></input>
                    <label>Mensagem</label>
                    <textarea rows="1" id="mensagem"></textarea>
                    <button class="button-contato" id="enviar">Enviar</button>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="footer-left">
            <ul class="footer-links">
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/sobre#tecnologias">Tecnologias</a></li>
                <li><a href="/sobre#desenvolvedor">Desenvolvedores</a></li>
                <li><a href="/sobre#contato">Contato</a></li>
            </ul>
            <span class="footer-infos">© GameLog 2023 • v0.10.0</span>
        </div>
    </footer>

</body>
    <script src="javascript/control/emailControl.js" type="module"></script>
</html>