.main-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
}

.sub-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

p{
    color: #badefc;
    line-height: 1.2;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.logo-tecnologias{
    height: 20vh;
    margin-bottom: 20px;
}

.img-dev{
    height: 40vh;
}

.dev{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.dev-info{
    margin-left: 20px;
}

.secao-contato{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input{
    width: 40%;
    margin-bottom: 20px;
}

.button-contato{
    width: 40%;
    margin-bottom: 20px;
}

.aviso.aviso-contato{
    width: 40%;
    height: 40px;
}
