.main-area{
    width: 50%;
}

textarea{
    width: 100%;
}

select{
    background-color: #343947;
    border: 1px solid #30394c;
    border-radius: 3px;
    width: 22%;
    appearance: none;
    outline: none;
    scroll-behavior: smooth;
    font-size: 15px;
    height: 35px;
}

button{
    height: 35px;
    padding-right: 15px;
    padding-left: 15px;
}
