.main-grid{
    width: 75%;
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px; 
    grid-gap: 40px;
    margin-bottom: 10px;
}

.main-grid>article{
    background-color: #30394c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 35vh;
}

h1{
    font-weight:lighter;
    color: #8f9ca7;
    margin-bottom: 0px;
}

.image-card{
    width: 100%;
    padding-bottom: 10px;

}

.dev-dist{
    margin: 0;
    align-self: flex-start;
    padding-left: 5px;
    margin-bottom: 5px;
}

.grid-pags{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.grid-pags div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.grid-pags div:hover{
    background-color: #8f9ca7;
}

.grid-pags div p {
    color: white;
}

.grid-order{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

.grid-order div {
    margin-left: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.grid-order div:hover{
    background-color: #f0f8ff9f;
}