.main-area{
    width: 50%;
    margin-top: 20px;
}

input{
    width: 49%;
    margin-bottom: 15px;
}

.disabled-input{
    background-color: #30394c57;
    border: 1px solid #30394c57;
    color: rgba(255, 255, 255, 0.562);
}

button{
    width: 25%;
}

.excluir{
    background-color: #ce2727;
    border: 1px solid #ce2727;
}
